<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
     <param name="Target" value="System.out" /> 
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%t] %m%n" />
     </layout>
  </appender>

  <appender name="batch-log" class="org.apache.log4j.FileAppender">
     <param name="File" value="/opt/apache-tomcat-6.0.53/logs/batch.log" />
     <param name="Append" value="true" />
     <param name="Encoding" value="UTF-8" />
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%t] %m%n" />
     </layout>
  </appender>

  <logger name="labo.hirarins.legacy.app.batch">
    <appender-ref ref="batch-log" />
  </logger>

  <root>
    <appender-ref ref="stdout"/>
  </root>
</log4j:configuration>